
@import './variables';

html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
}

body {
    background: rgb(30,30,30);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

button {
	background: none;
	border: none;
	outline: none;
	color: rgb(150, 150, 150);
	cursor: pointer;
}

button:hover {
	color: rgb(255, 255, 255);
}
