<div class="container">
	<div class="search-container">
		<input #searchBox (keyup)="search(searchBox.value)" placeholder="Search names, skills, monster" />

		<button class="clear-button" (click)="resetSearchResults()">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<virtual-scroll id="decorations-list" #decorationList class="scroll-container" *ngIf="decorations" [items]="filteredDecorations" (update)="onDecorationListUpdate($event)" [childHeight]="44">
		<div *ngFor="let decoration of virtualDecorations" class="scroll-item-container" (click)="selectDecoration(decoration)">
			<div class="decoration-name">
				{{decoration.name}}
			</div>
			
			<div class="skill-container" *ngFor="let skill of dataService.getSkills(decoration.skills)">
				<div class="skill-count">
					{{getSkillCount(decoration, skill)}}
				</div>
				<div class="skill-name">
					{{skill.name}}
				</div>
			</div>
		</div>
	</virtual-scroll>
</div>