@import "~sass/common";

ul {
	padding: 0px;
}

li {
	list-style: none;
	padding:4px 4px;
	cursor: default;

	.value {
		float: right;
	}

	.detail-icon {
		float: left;
		margin-right: 4px;	
	}
}
