<div class="container">
	<h4>Skills</h4>
	<hr>
	<ul class="striped">
		<li *ngFor="let skill of skills" [style.color]="getSkillCountColor(skill)" (mouseenter)="skillMouseEnter(skill)" (mouseleave)="skillMouseLeave()">
			<span class="name">{{skill.name}}</span>
			<span class="value">{{skill.equippedCount}}/{{skill.totalLevelCount}}</span>
			<span class="detail-icon"><i class="far fa-question-circle"></i></span>
		</li>
	</ul>

	<div *ngIf="setBonuses?.length">
		<br />
		<h4>Set Bonuses</h4>
		<hr>
		<ul class="striped">
			<li *ngFor="let setBonus of setBonuses" [style.color]="getSetBonusColor(setBonus)">
				<span class="name">{{setBonus.name}}</span>
				<span class="value">{{setBonus.equippedCount}}/{{setBonus.requiredCount}}</span>
			</li>
		</ul>
	</div>
</div>