$equipmentHeight: 40px;

.container {
    width: 100%;
    margin-bottom: 16px;
}

.item-container {
    height: $equipmentHeight;
    background-color: rgb(50,50,50);
    padding: 8px;
	margin-bottom: 4px;
	cursor: pointer;
	display: flex;
	border-radius: 3px;

	.slot-name {
		color: #b7b7b7;
		line-height: $equipmentHeight;
		width: 80px;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.selected-item {
		flex-grow: 1;
		line-height: $equipmentHeight;
		font-size: 20px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
	.clear-button {
		float: right;
		height: $equipmentHeight;
	}

	.levels-container {
		display: inherit;

		.level-down-button, .level-up-button {
			height: $equipmentHeight;
		}
	
		.level {
			line-height: $equipmentHeight;
		}
	}
}

.decoration-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0px -2px;
}

.selected {
	background-color: #525252;
}