$equipmentHeight: 40px;

.container {
    width: 100%;
    margin-bottom: 16px;
}

.item-container {
    height: $equipmentHeight;
    background-color: rgb(50,50,50);
    padding: 8px;
	margin-bottom: 4px;
	cursor: pointer;
}

.decoration-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.selected-item {
    display: inline-block;
}

.slot-name {
	display: inline-block;
	color: rgb(100,100,100);
	line-height: $equipmentHeight;
	width: 80px;
}

.clear-button {
	float: right;
	height: $equipmentHeight;
}