.container {
    width: 100%;
    margin-bottom: 16px;
}

.item-container {
    height: 40px;
    background-color: rgb(50,50,50);
    padding: 8px;
	margin-bottom: 4px;
	cursor: pointer;
}

.decoration-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.selected-item {
    display: block;
}