<div class="container">
	<div class="item-container" (click)="equipmentSlotClicked()" (mouseenter)="setTooltipItem()" (mouseleave)="clearTooltipItem()"> 
		<div class="slot-name">{{slotName}}</div>
		<div class="selected-item">{{item?.name}}</div>

		<button class="clear-button" (click)="equipmentClearClicked($event)">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="decoration-container">
		<mhw-builder-decoration-slot 
			*ngFor="let slot of item?.slots"
			[level]="slot.level"
			(decorationSlotSelected)="decorationSlotClicked($event)"
			(cleared)="decorationClearClicked(slot)">
		</mhw-builder-decoration-slot>
	</div>
</div>
