<div class="container">
	<div class="item-container"
		(click)="equipmentSlotClicked()"
		(pointerenter)="setTooltipItem($event)"
		(pointerleave)="clearTooltipItem()"
		[class.selected]="selected">

		<div class="slot-icon">
			<img [src]="getItemIconName()">
		</div>
		<div class="selected-item">{{item?.name}}</div>

		<div *ngIf="item?.levels" class="levels-container">
			<button class="level-down-button" (click)="levelDownClicked($event)">
				<i class="fas fa-minus"></i>
			</button>

			<div class="level">
				{{item.equippedLevel}}
			</div>

			<button class="level-up-button" (click)="levelUpClicked($event)">
				<i class="fas fa-plus"></i>
			</button>
		</div>

		<button class="clear-button" (click)="equipmentClearClicked($event)">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="kinsect-container" *ngIf="kinsect">
		<mhw-builder-kinsect-slot></mhw-builder-kinsect-slot>
	</div>

	<div class="augmentation-container" *ngIf="augmentations && augmentations.length">
		<mhw-builder-augmentation-slot
			*ngFor="let aug of augmentations">
		</mhw-builder-augmentation-slot>
	</div>

	<div class="decoration-container" *ngIf="item?.slots && item?.slots.length">
		<mhw-builder-decoration-slot
			*ngFor="let slot of item?.slots"
			[level]="slot.level"
			[itemId]="item.id"
			[itemType]="item.itemType">
		</mhw-builder-decoration-slot>
	</div>
</div>
