.container {
	position: absolute;
	border-radius: 3px;
	border: white solid 1px;
	background: rgb(50,50,50);
	padding: 10px;
	max-width: 400px;
	min-width: 300px;
	z-index: 1000;
	align-content: center;
}

@media (max-width:576px) {
	.container {
		width: 93%;
		background: rgb(53,53,53);
		right: 0;
		bottom: 0;
	}
}
