@import '~sass/variables';

$headerHeight: 36px;
$containerPadding: 10px;
$containerVerticalMargin: 40px;

:host {
	display: none;
	position: absolute;
	left: -8px;
	top: -8px;
	right: -8px;
	bottom: -8px;
	z-index: 100;
}

:host.open {
	display: block;
}

.background {
	position: fixed;
	left: -8px;
	top: -8px;
	right: -8px;
	bottom: -8px;
	background: rgba($color: #000000, $alpha: 0.50);
	z-index: -1;
}

.container {
	position: relative;
	border: 1px solid white;
	border-radius: 4px;
	background-color: #1e1e1e;
	padding: $containerPadding;
	max-width: 768px;
	margin: $containerVerticalMargin auto;
	height: calc(100% - 96px);
}

.header-container {
	height: $headerHeight;
	text-align: center;

	.title-container {
		display: inline-block;
		line-height: $headerHeight;
	}

	.close-button {
		position: absolute;
		right: 16px;
		top: 16px;
	}
}

.content-container {
	position: absolute;
	top: $headerHeight + $containerPadding + 4;
	left: 8px;
	right: 8px;
	bottom: 8px;
}

@media only screen and (max-width: 768px) {
	.container {
		border:none;
		border-radius: 0;
		margin: auto;
		height: calc(100% - #{$appMargin} * 2.5);
	}

	.background {
		background-color: #1e1e1e;
	}
}