<div class="container" (mousemove)="moveTooltip($event)">
	<div class="equipment-container">
		<h2>Equipment</h2>

		<mhw-builder-item-slot 
			slotName="Weapon" 
			(equipmentSlotSelected)="equipmentSlotSelected($event)" 
			(decorationSlotSelected)="decorationSlotSelected($event)">
		</mhw-builder-item-slot>
		
		<mhw-builder-item-slot 
			slotName="Head" 
			(equipmentSlotSelected)="equipmentSlotSelected($event)" 
			(decorationSlotSelected)="decorationSlotSelected($event)">
		</mhw-builder-item-slot>
		
		<mhw-builder-item-slot 
			slotName="Chest" 
			(equipmentSlotSelected)="equipmentSlotSelected($event)" 
			(decorationSlotSelected)="decorationSlotSelected($event)">
		</mhw-builder-item-slot>
		
		<mhw-builder-item-slot 
			slotName="Hands" 
			(equipmentSlotSelected)="equipmentSlotSelected($event)" 
			(decorationSlotSelected)="decorationSlotSelected($event)">
		</mhw-builder-item-slot>
		
		<mhw-builder-item-slot 
			slotName="Legs" 
			(equipmentSlotSelected)="equipmentSlotSelected($event)" 
			(decorationSlotSelected)="decorationSlotSelected($event)">
		</mhw-builder-item-slot>

		<mhw-builder-item-slot 
			slotName="Feet" 
			(equipmentSlotSelected)="equipmentSlotSelected($event)" 
			(decorationSlotSelected)="decorationSlotSelected($event)">
		</mhw-builder-item-slot>
		
		<mhw-builder-item-slot 
			slotName="Charm" 
			(equipmentSlotSelected)="equipmentSlotSelected($event)" 
			(decorationSlotSelected)="decorationSlotSelected($event)">
		</mhw-builder-item-slot>
	</div>

	<div class="item-list-container">
		<h2>Items</h2>

		<mhw-builder-item-list [hidden]="!selectedEquipmentSlot" itemType="{{selectedEquipmentSlot?.slotName}}" (itemSelected)="selectItem($event)"></mhw-builder-item-list>
		<mhw-builder-item-list [hidden]="!selectedDecorationSlot" itemType="Decoration" (decorationSelected)="selectDecoration($event)"></mhw-builder-item-list>
	</div>

	<div class="stat-container">
		<h2>Stats</h2>
		<hr>
		<mhw-builder-equipped-stats></mhw-builder-equipped-stats>

		<br />

		<h2>Skills</h2>
		<hr>
		<mhw-builder-equipped-skills></mhw-builder-equipped-skills>
	</div>

	<div #itemStats class="item-stats-container" hidden='true'>
		<mhw-builder-item-stats></mhw-builder-item-stats>
	</div>
</div>
