@import "~sass/variables";

.container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 16px;

	margin: $appMargin;
}

.equipment-container {
	grid-column: 1 / 3;
	grid-row: 1;
}

.stats-container {
	grid-column: 3;
	grid-row: 1;
}

.signature {
	font-size: 12px;
	position: fixed;
	bottom: 2px;
	left: 4px;
	color:#969696;

	a, a:visited {
		color:#969696;
	}
}

// @import "~sass/variables";

// h2 {
// 	margin: 20px 0 20px 0;
// }

// :host, .container {
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// }

// .container {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: nowrap;
// 	justify-content: space-around;
// 	margin: 8px;
// }

// .equipment-container {
// 	position: relative;
// 	top: 0;
// 	bottom: 0;
// 	flex-grow: 2;
// 	flex-basis: 0;
// 	margin:8px;	

// 	.equipment-slots-container {
// 		position: absolute;
// 		// top: 68px;
// 		top: 0;
// 		right: 0;
// 		bottom: 4px;
// 		left: 0;
// 		overflow-y: auto;
// 		overflow-x: hidden;
// 	}
// }

// .item-list-container {
// 	position: relative;
// 	// top: 68px;
// 	top: 0;
// 	bottom: 0;
// 	flex-grow: 1;
// 	flex-basis: 0;
// 	margin:8px;	
// 	min-width: 350px;
// }

// .stats-container {
// 	position: relative;
// 	top: 0;
// 	bottom: 0;
// 	margin:8px;
// 	flex-grow: 1;
// 	flex-basis: 0;
	
// 	.equip-info-container {
// 		position: absolute;
// 		// top: 68;
// 		top: 0;
// 		right: 0;
// 		bottom: 0;
// 		left: 0;
// 		overflow-y: auto;
// 		overflow-x: hidden;
// 	}
// }

// .signature {
// 	font-size: 12px;
// 	position: fixed;
// 	bottom: 2px;
// 	left: 4px;

// 	a, a:visited {
// 		color:white;
// 	}

// }
