.left {
    position: absolute;
    right: 50%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 8px;
}

.right {
    position: absolute;
    right: 0px;
    left: 50%;
    top: 0px;
    bottom: 0px;
    padding: 8px;
}