.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.equipment-container {
	flex-grow: 2;
	flex-basis: 0;
	margin:8px;	
}

.item-list-container {
	flex-grow: 2;
	flex-basis: 0;
	margin:8px;	
}

.stat-container {
	flex-grow: 1;
	flex-basis: 0;
	margin:8px;	
}

.skill-container {
	margin:8px;	
}

.item-stats-container {
	position: absolute;
	box-shadow: 10px 10px 10px black;
}