<div class="slot-container">
	<mhw-builder-item-slot name="weaponSlot" slotName="Weapon" (equipmentSlotSelected)="equipmentSlotSelected($event)" (decorationSlotSelected)="decorationSlotSelected($event)"></mhw-builder-item-slot>
	<mhw-builder-item-slot name="headSlot" slotName="Head" (equipmentSlotSelected)="equipmentSlotSelected($event)" (decorationSlotSelected)="decorationSlotSelected($event)"></mhw-builder-item-slot>
	<mhw-builder-item-slot name="chestSlot" slotName="Chest" (equipmentSlotSelected)="equipmentSlotSelected($event)" (decorationSlotSelected)="decorationSlotSelected($event)"></mhw-builder-item-slot>
	<mhw-builder-item-slot name="handSlot" slotName="Hands" (equipmentSlotSelected)="equipmentSlotSelected($event)" (decorationSlotSelected)="decorationSlotSelected($event)"></mhw-builder-item-slot>
	<mhw-builder-item-slot name="legSlot" slotName="Legs" (equipmentSlotSelected)="equipmentSlotSelected($event)" (decorationSlotSelected)="decorationSlotSelected($event)"></mhw-builder-item-slot>
	<mhw-builder-item-slot name="feetSlot" slotName="Feet" (equipmentSlotSelected)="equipmentSlotSelected($event)" (decorationSlotSelected)="decorationSlotSelected($event)"></mhw-builder-item-slot>
	<mhw-builder-item-slot name="charmSlot" slotName="Charm" (equipmentSlotSelected)="equipmentSlotSelected($event)" (decorationSlotSelected)="decorationSlotSelected($event)"></mhw-builder-item-slot>
</div>

<div class="stat-container">
	
</div>

<div class="right">
	<mhw-builder-equipped-stats></mhw-builder-equipped-stats>
	<mhw-builder-equipped-skills></mhw-builder-equipped-skills>
	<mhw-builder-item-list [hidden]="!selectedEquipmentSlot" itemType="{{selectedEquipmentSlot?.slotName}}" (itemSelected)="selectItem($event)"></mhw-builder-item-list>
	<mhw-builder-item-list [hidden]="!selectedDecorationSlot" itemType="Decoration" (decorationSelected)="selectDecoration($event)"></mhw-builder-item-list>
</div>

