h2 {
	margin: 20px 0px 20px 0px;
}

:host, .container {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.equipment-container {
	position: relative;
	top: 0px;
	bottom: 0px;
	flex-grow: 2;
	flex-basis: 0;
	margin:8px;	

	.equipment-slots-container {
		position: absolute;
		top: 68px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

.item-list-container {
	position: relative;
	top: 0px;
	bottom: 0px;
	flex-grow: 1;
	flex-basis: 0;
	margin:8px;	
}

.stats-container {
	position: relative;
	top: 0px;
	bottom: 0px;
	margin:8px;
	flex-grow: 1;
	flex-basis: 0;
	
	.equip-info-container {
		position: absolute;
		top: 68px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

.item-stats-container {
	position: absolute;
	box-shadow: 10px 10px 10px black;
}
