$slotHeight: 30px;

.container {
	background-color: rgb(50,50,50);
	height: $slotHeight;
	padding: 4px;
	cursor: pointer;
	display: flex;
	font-size: 14px;

	.slot-name {
		color: rgb(100,100,100);
		line-height: $slotHeight;
		width: 40px;
		flex-grow: 0;
		flex-shrink: 0;
		margin-left: 6px;
	}
	
	.selected-decoration {
		flex-grow: 1;
		line-height: $slotHeight;
		text-overflow: ellipsis;
		overflow: hidden;
		// white-space: nowrap;
	}
	
	.clear-button {
		flex-grow: 0;
		flex-shrink: 0;
		height: $slotHeight;
	}
}

:host {
	flex-grow: 1;
	flex-basis: 0;
	// max-width: 33%;
	padding: 0px 2px 0px 2px;
}
