<div class="container">
	<div class="search-container">
		<input #searchBox (keyup)="search(searchBox.value)" placeholder="Search names, skills, monster" />

		<button class="clear-button" (click)="resetSearchResults()">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<virtual-scroll id="items-list" #itemList class="scroll-container" *ngIf="items" [items]="filteredItems" (update)="onItemListUpdate($event)" [childHeight]="72">
		<div *ngFor="let item of virtualItems" class="scroll-item-container" (click)="selectItem(item)">
			<div class="name">
				{{item.name}}
			</div>

			<div class="skills-container">
				<div class="skill-container" *ngFor="let skill of dataService.getSkills(item.skills)">
					<div class="count">
						{{getSkillCount(item, skill)}}
					</div>
					<div class="name">
						{{skill.name}}
					</div>
				</div>
			</div>
		</div>
	</virtual-scroll>
</div>