<div class="container">
	<div class="search-container">
		<input #searchBox (keyup)="search(searchBox.value)" placeholder="Search names, skills, monster" />

		<button class="clear-button" (click)="resetSearchResults()">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<virtual-scroll id="decorations-list" #decorationList class="scroll-container" *ngIf="decorations" [items]="filteredDecorations" (update)="onDecorationListUpdate($event)">
		<div *ngFor="let decoration of virtualDecorations" class="scroll-item-container" (click)="selectDecoration(decoration)" (pointerenter)="setTooltipDecoration($event, decoration)" (pointerleave)="clearTooltipDecoration()">
			<div class="name-container">
				{{decoration.name}}
			</div>
		</div>
	</virtual-scroll>
</div>