ul {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
}

h3, h4, h5 {
	margin: 0px;
}

.skills-container {
	li {
		margin-top: 24px;

		.skill-header {
			display: flex;
		
			.skill-name {
				flex-grow: 1;
			}
		}
		
		hr {
			border: 1px solid rgb(97, 97, 97);
		}
	}
}

.slots-container {
	margin-top: 12px;

	div {
		display: inline;
	}
}