$slotHeight: 30px;

.container {
	display: grid;
	grid-template-columns: 40px auto auto 36px;
	height: $slotHeight;
	font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
	background-color: rgb(50,50,50);
	padding: 4px;

	.slot-icon {
		line-height: $slotHeight;
		width: 40px;
		margin-left: 4px;
		margin-top: 4px;

		img {
			height: 22px;
		}
	}

	.selected-kinsect {
		line-height: $slotHeight;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.element {
		width: 100px;
		height: 40px;
		background-color: red;
	}

	.clear-button {
		height: $slotHeight;
	}
}

.selected {
	background-color: #525252;
}
