.container {
	border-radius: 3px;
	border: white solid 2px;
    background: rgb(50,50,50);
	padding:10px;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
}

h3 {
	margin-top: 0px;
}