<div class="container">
	<h3>{{item?.name}}</h3>
	<hr>
	<ul>
		<div *ngIf="item?.equipmentCategory == 'Weapon'">
			<li>Weapon Type: {{itemsService.getWeaponTypeName(item?.weaponType)}}</li>
			<li *ngIf="item?.maxSharpness">Max Sharpness: {{item?.maxSharpness}}</li>
			<li>Attack: {{item?.baseAttack}}</li>
			<li>Affinity: {{item?.baseAffinityPercent}}%</li>

			<div *ngIf="item?.ailment" [style.color]="item?.ailmentHidden ? 'gray' : 'white'">
				<li>Ailment: {{item?.ailment}}</li>
				<li>Ailment Attack: {{item?.ailmentBaseAttack}}</li>
			</div>
			
			<div *ngIf="item?.element" [style.color]="item?.elementHidden ? 'gray' : 'white'">
				<li>Element: {{item?.element}}</li>
				<li>Elemental Attack: {{item?.elementBaseAttack}}</li>
			</div>
		</div>

		<div *ngIf="item?.itemType == 'Charm'">
			<li>Levels: {{item?.levels}}</li>
		</div>		

		<div *ngIf="item?.equipmentCategory">
			<li *ngIf="item?.baseDefense">Defense: {{item?.baseDefense}}</li>
			
			<div *ngIf="item.equipmentCategory == 'Armor'">
				<li>Fire Resist: {{item?.fireResist || 0}}</li>
				<li>Water Resist: {{item?.waterResist || 0}}</li>
				<li>Thunder Resist: {{item?.thunderResist || 0}}</li>
				<li>Ice Resist: {{item?.iceResist || 0}}</li>
				<li>Dragon Resist: {{item?.dragonResist || 0}}</li>
			</div>
		</div>
	</ul>

	<div *ngIf="skills?.length" class="skills-container">
		<br />
		<h3>Skills</h3>
		<hr>
		<ul>
			<div *ngFor="let skill of skills">
				<div *ngIf="skill.levels">
					<li>
						<div class="skill-header">
							<h4 class="skill-name">{{skill.name}}</h4>
							<h4 class="skill-level">{{getSkillCount(skill)}}</h4>
						</div>
						<hr>
						<span>{{skill.description}}</span>
					</li>
				</div>
				
				<div *ngIf="skill.setLevels">
					<li *ngFor="let setLevel of skill.setLevels">
						<div class="skill-header">
							<h4 class="skill-name">{{skill.name}}</h4>
							<h4 class="skill-level">{{setLevel.level}} piece</h4>
						</div>
						<hr>
						<span>{{setLevel.description}}</span>
					</li>
				</div>
			</div>
		</ul>
	</div>
</div>