<div class="container">
	<ul>
		<li><h3>{{item?.name}}</h3></li>
		<li>Attack: {{item?.baseAttack}}</li>
		<li>Affinity: {{item?.baseAffinityPercent}}%</li>
		<li>Defense: {{item?.baseDefense}}</li>
		<li>Element: {{item?.element}}</li>
		<li>Elemental Attack: {{item?.elementBaseAttack}}</li>
		<li>Fire Resist: {{item?.fireResist}}</li>
		<li>Water Resist: {{item?.waterResist}}</li>
		<li>Thunder Resist: {{item?.thunderResist}}</li>
		<li>Ice Resist: {{item?.iceResist}}</li>
		<li>Dragon Resist: {{item?.dragonResist}}</li>
	</ul>
</div>