@import "~sass/variables";
@import "~sass/common";

$searchHeight: 38px;
$filterHeight: 42px;
$listItemHeight: 66px;

.container {
	display: grid;
	grid-template-rows: $searchHeight max-content auto;
	grid-row-gap: 4px;
	height: 100%;
}

.search-container {
	grid-row: 1;
	background-color: rgb(50,50,50);
	padding: 0 0 0 12px;	
	border-radius: 3px;
	display: grid;
	grid-template-columns: auto min-content;
	height: $searchHeight;

	input {
		background-color: rgb(50,50,50);
		border: none;
		color: white;
		font-size: 16px;
		height: $searchHeight - 2;
	}

	input:focus {
		outline: none;
	}

	.clear-button {
		padding-top: 4px;
		height: $searchHeight;
		width: 36px;
		flex-grow: 0;
	}
}

.filter-container {
	grid-row: 2;

	display: grid;
	grid-template-columns: repeat(14, 1fr);

	.selected > img {
		background: $blue;
		border-radius: 3px;
	}

	.weapon-filter {
		padding: 4px;
		height: 48px;
	
		img {
			height: $filterHeight;
		}
	}
}

.scroll-container {
	grid-row: 3;
	overflow-y: auto;
	border-radius: 3px;

	.scroll-item-container {
		min-height: 90px;
		display: grid;
		grid-template-rows: min-content max-content max-content;
		grid-gap: 4px;
		border-radius: 3px;
		background-color: #323232;
		margin-bottom: 4px;
		padding: 4px 8px;
		cursor: pointer;

		.name-container {
			height: 32px;
			display: grid;
			grid-template-columns: auto max-content max-content max-content;
			grid-gap: 8px;

			.name {
				line-height: 30px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				padding-left: 4px;
			}
			
			.slots {
				display: grid;
				grid-template-columns: repeat(3, auto);
				grid-gap: 4px;

				img {
					height: 18px;
					margin: 4px 0;
				}
			}
			
			.type {
				height: 22px;
				line-height: 22px;
				background-color: #272727;
				border-radius: 26px;
				font-size: 12px;
				margin: 4px 0;
				padding: 0 8px;
			}

			.rarity {
				// width: 22px;
				height: 22px;
				line-height: 22px;
				background-color: #272727;
				border-radius: 26px;
				text-align: center;
				font-size: 12px;
				margin: 4px 0;
				padding: 0 8px;
			}
		}

		.stats-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 4px;
			
			.stat-container {
				background-color: #272727;
				border-radius: 3px;
				display: grid;
				grid-template-columns: min-content auto;

				.icon-container {
					height: 26px;
					width: 26px;
					text-align: center;

					img {
						height: 18px;
						margin: 4px 2px;
					}
				}

				.stat-value {
					border-left: 1px solid #323232;
					line-height: 26px;
					text-align: center;
					font-size: 12px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
	}

	.scroll-item-container:hover {
		background-color: #525252;
	}
}

@media only screen and (max-width: 716px) {
	.filter-container {
		grid-template-columns: repeat(7, 1fr);
	}
}