<div class="container">
	<div class="search-container">
		<input #searchBox (keyup)="search(searchBox.value)" placeholder="Search names, skills, monster" />

		<button class="clear-button" (click)="resetSearchResults()">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="filter-container" *ngIf="itemType == 'Weapon'">
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'GreatSword'" (click)="weaponFilterClicked('GreatSword')">
			<img src="assets/images/weapons/greatsword-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'SwordAndShield'" (click)="weaponFilterClicked('SwordAndShield')">
			<img src="assets/images/weapons/swordandshield-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'DualBlades'" (click)="weaponFilterClicked('DualBlades')">
			<img src="assets/images/weapons/dualblades-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'LongSword'" (click)="weaponFilterClicked('LongSword')">
			<img src="assets/images/weapons/longsword-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'Hammer'" (click)="weaponFilterClicked('Hammer')">
			<img src="assets/images/weapons/hammer-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'HuntingHorn'" (click)="weaponFilterClicked('HuntingHorn')">
			<img src="assets/images/weapons/huntinghorn-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'Lance'" (click)="weaponFilterClicked('Lance')">
			<img src="assets/images/weapons/lance-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'Gunlance'" (click)="weaponFilterClicked('Gunlance')">
			<img src="assets/images/weapons/gunlance-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'SwitchAxe'" (click)="weaponFilterClicked('SwitchAxe')">
			<img src="assets/images/weapons/switchaxe-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'ChargeBlade'" (click)="weaponFilterClicked('ChargeBlade')">
			<img src="assets/images/weapons/chargeblade-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'InsectGlaive'" (click)="weaponFilterClicked('InsectGlaive')">
			<img src="assets/images/weapons/insectglaive-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'Bow'" (click)="weaponFilterClicked('Bow')">
			<img src="assets/images/weapons/bow-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'LightBowgun'" (click)="weaponFilterClicked('LightBowgun')">
			<img src="assets/images/weapons/lightbowgun-icon.png">
		</button>
		<button class="weapon-filter" [class.selected]="weaponTypeFilter == 'HeavyBowgun'" (click)="weaponFilterClicked('HeavyBowgun')">
			<img src="assets/images/weapons/heavybowgun-icon.png">
		</button>
	</div>

	<virtual-scroll id="items-list" #itemList class="scroll-container" *ngIf="items" [items]="filteredItems" (update)="onItemListUpdate($event)" [childHeight]="108">
		<div *ngFor="let item of virtualItems" class="scroll-item-container" (click)="selectItem(item)">

			<div class="name-container">
				<div class="name">
					{{item.name}}
				</div>
				<div class="slots">
					<div *ngIf="item.slots[0]?.level">
						<img [src]="'assets/images/slot-' + item?.slots[0]?.level + '-icon.png'">
					</div>
					<div *ngIf="item.slots[1]?.level">
						<img [src]="'assets/images/slot-' + item?.slots[1]?.level + '-icon.png'">
					</div>
					<div *ngIf="item.slots[2]?.level">
						<img [src]="'assets/images/slot-' + item?.slots[2]?.level + '-icon.png'">
					</div>
				</div>
				<div class="type">
					<span *ngIf="item.equipmentCategory == equipmentCategoryType.Armor">{{item.itemType}}</span>
					<span *ngIf="item.equipmentCategory == equipmentCategoryType.Weapon">{{dataService.getWeaponTypeName(item.weaponType)}}</span>
				</div>
				<div class="rarity" *ngIf="item.rarity">
					Rarity {{item.rarity}}
				</div>
			</div>

			<div class="stats-container">
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/attack-icon.png">
					</div>
					<div class="stat-value">{{item.baseAttack}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/affinity-icon.png">
					</div>
					<div class="stat-value" [class.red]="item.baseAffinityPercent < 0">{{item.baseAffinityPercent}}%</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/sharpness-icon.png">
					</div>
					<div class="stat-value">{{item.sharpnessLevels[0] ? item.sharpnessLevels[0].color : 'N/A'}}</div>
				</div>
				<div class="stat-container">
					<div class="icon-container">
						<img src="assets/images/defense-icon.png">
					</div>
					<div class="stat-value">{{item.baseDefense}}</div>
				</div>
				<div class="stat-container" *ngIf="item.ailment">
					<div class="icon-container">
						<img [src]="getAilmentIcon(item)">
					</div>
					<div class="stat-value" [style.color]="item.ailmentHidden ? 'gray' : 'white'">{{item.ailmentBaseAttack}}</div>
				</div>
				<div class="stat-container" *ngIf="item.element">
					<div class="icon-container">
						<img [src]="getElementIcon(item)">
					</div>
					<div class="stat-value" [style.color]="item.elementHidden ? 'gray' : 'white'">{{item.elementBaseAttack}}</div>
				</div>
			</div>

			<div class="skills-container">
				<div class="skill-container" *ngFor="let skill of dataService.getSkills(item.skills)">
					<div class="count">
						{{getSkillCount(item, skill)}}
					</div>
					<div class="name">
						{{skill.name}}
					</div>
				</div>
			</div>
		</div>
	</virtual-scroll>
</div>
