ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	margin: 8px 0 0 0;
	display: -webkit-box;

	.level {
		width: 50px;
		flex-grow: 0;
	}

	.level-description {
		flex-grow: 1;
	}
}

h3, h4, h5 {
	margin: 0;
}
