$itemHeight: 26px;

:host, .container {
	right: 0px;
	bottom: 0px;
	left: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	background-color: rgb(50,50,50);
	border-radius: 3px;
}

li {
	cursor: pointer;
	height: $itemHeight;
	line-height: $itemHeight;
	list-style: none;
	padding: 8px;
}

li:hover {
	background-color: gray;
	border-radius: 3px;
}

.search-container {
	background-color: rgb(50,50,50);
	padding: 8px;	
	margin-bottom: 4px;
	height: 40px;
	display: flex;
	border-radius: 3px;

	input {
		background-color: rgb(50,50,50);
		border: none;
		color: white;
		font-size: 20px;
		flex-grow: 1;
		min-width: 0;
	}

	input:focus {
		outline: none;
	}

	.clear-button {
		height: 40px;
	}
}

.items-container {
	overflow-y: auto;
    position: absolute;
    top: 60px;
    bottom: 0px;
    right: 0px;
	left: 0px;
	border-radius: 3px;
}

