$itemHeight: 32px;

:host, .container {
	right: 0px;
	bottom: 0px;
	left: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	background-color: rgb(50,50,50);
	border-radius: 3px;
}

li {
	cursor: pointer;
	height: $itemHeight;
	line-height: $itemHeight;
	list-style: none;
	padding: 8px;
	border-bottom: 1px black solid;

	.info-container {
		display: flex;

		.name-container {
			flex-grow: 1;
		}

		.stat-container {
			flex-grow: 0;

			.attack-container {
				display: inline-flex;

				div {
					flex-grow: 0;
					line-height: $itemHeight;
				}

				img {
					flex-grow: 0;
					max-height: $itemHeight;
				}
			}
		}
	}
}

li:hover {
	background-color: #525252;
	border-radius: 3px;
}

.search-container {
	$height: 36px;

	background-color: rgb(50,50,50);
	padding: 0px 0px 0px 12px;	
	margin-bottom: 4px;
	display: flex;
	border-radius: 3px;

	input {
		background-color: rgb(50,50,50);
		border: none;
		color: white;
		font-size: 16px;
		flex-grow: 1;
		min-width: 0;
		height: $height;
	}

	input:focus {
		outline: none;
	}

	.clear-button {
		padding-top: 4px;
		height: $height;
	}
}

.filter-container {
	$height: 42px;

	.button-row {
		margin: 8px 0px;
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		height: $height;
		
		.weapon-filter {
			padding: 4px;
			flex-grow: 0;
		
			img {
				height: $height;
			}
		}
	}

	// display: flex;
	// padding: 0px 8px;
	// border-radius: 3px;
	// background: rgb(50,50,50);

	// select {
	// 	flex-grow: 1;
	// 	height: $height;
	// 	background: rgb(50,50,50);
	// 	font-size: 16px;
	// 	border: none;
	// 	color: white;
	// }

	// select:focus {
	// 	outline: none;
	// }
}

.items-container {
	overflow-y: auto;
    position: absolute;
    top: 120px;
    bottom: 0px;
    right: 0px;
	left: 0px;
	border-radius: 3px;
}

