<div class="container">
	<div class="search-container">
		<input #searchBox (keyup)="search(searchBox.value)" placeholder="Search names, types and skills"/>

		<button class="clear-button" (click)="resetSearchResults()">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="items-container">
		<ul>
			<div *ngFor="let item of items">
				<li [hidden]="!item.visible"
					(click)="selectItem(item)"
					(mouseenter)="setTooltipItem(item)"
					(mouseleave)="clearTooltipItem()">
					
					<div class="info-container">
						<div class="name-container">
							{{item.name}}
						</div>
						
						<div class="stat-container">
							<div class="attack-container" *ngIf="item.baseAttack">
								<img src="assets/images/attack-icon.png">
								<div>{{item.baseAttack}}</div>
							</div>
							<div class="attack-container" *ngIf="item.ailment">
								<img [src]="getAilmentIcon(item)">
								<div [style.color]="item.ailmentHidden ? 'gray' : 'white'">{{item.ailmentBaseAttack}}</div>
							</div>
							<div class="attack-container" *ngIf="item.element">
								<img [src]="getElementIcon(item)">
								<div [style.color]="item.elementHidden ? 'gray' : 'white'">{{item.elementBaseAttack}}</div>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div *ngFor="let decoration of decorations">
				<li [hidden]="!decoration.visible"
					(click)="selectDecoration(decoration)"
					(mouseenter)="setTooltipItem(decoration)"
					(mouseleave)="clearTooltipItem()">{{decoration.name}}</li>
			</div>
		</ul>
	</div>
</div>