
$searchHeight: 38px;
$filterHeight: 42px;
$listItemHeight: 32px;

.container {
	display: grid;
	grid-template-rows: $searchHeight max-content auto;
	grid-row-gap: 4px;
	height: 100%;
}

.search-container {
	grid-row: 1;
	background-color: rgb(50,50,50);
	padding: 0 0 0 12px;	
	border-radius: 3px;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	height: $searchHeight;

	input {
		background-color: rgb(50,50,50);
		border: none;
		color: white;
		font-size: 16px;
		height: $searchHeight - 2;
		flex-grow: 1;
	}

	input:focus {
		outline: none;
	}

	.clear-button {
		padding-top: 4px;
		height: $searchHeight;
		width: 36px;
		flex-grow: 0;
	}
}

.filter-container {
	grid-row: 2;
	flex-grow: 0;

	.button-row {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		height: $filterHeight + 6;
		
		.selected {
			background: #389b38;
			border-radius: 3px;
		}

		.weapon-filter {
			padding: 4px;
			height: 48px;
			flex-grow: 0;
		
			img {
				height: $filterHeight;
			}
		}
	}
}

.items-container {
	grid-row: 3;
	overflow-y: auto;
	border-radius: 3px;
	flex-grow: 1;

	ul {
		margin: 0;
		padding: 0;
		background-color: rgb(50,50,50);
		border-radius: 3px;
	
		li {
			cursor: pointer;
			height: $listItemHeight;
			line-height: $listItemHeight - 2;
			list-style: none;
			padding: 8px;
			border-bottom: 1px black solid;
		
			.info-container {
				display: -webkit-box;
		
				.name-container {
					flex-grow: 1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					min-width: 0;
				}
		
				.stat-container {
					flex-grow: 0;
		
					.attack-container {
						display: inline-flex;
		
						div, img {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							line-height: $listItemHeight;
							max-height: $listItemHeight;
						}
					}
				}
			}
		}
		
		li:hover {
			background-color: #525252;
			border-radius: 3px;
		}
	}
}

