$itemHeight: 32px;

.container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	background-color: rgb(50,50,50);
	border-radius: 3px;
}

li {
	cursor: pointer;
	height: $itemHeight;
	line-height: $itemHeight;
	list-style: none;
	padding: 8px;
	border-bottom: 1px black solid;

	.info-container {
		display: -webkit-box;

		.name-container {
			flex-grow: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			min-width: 0;
		}

		.stat-container {
			flex-grow: 0;

			.attack-container {
				display: inline-flex;

				div, img {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					line-height: $itemHeight;
					max-height: $itemHeight;
				}
			}
		}
	}
}

li:hover {
	background-color: #525252;
	border-radius: 3px;
}

.search-container {
	$height: 36px;

	background-color: rgb(50,50,50);
	padding: 0px 0px 0px 12px;	
	margin-bottom: 4px;
	display: flex;
	border-radius: 3px;

	input {
		background-color: rgb(50,50,50);
		border: none;
		color: white;
		font-size: 16px;
		flex-grow: 1;
		min-width: 0;
		height: $height;
	}

	input:focus {
		outline: none;
	}

	.clear-button {
		padding-top: 4px;
		height: $height;
	}
}

.filter-container {
	$height: 42px;
	margin-bottom: 4px;

	.button-row {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		height: $height + 6;
		
		.selected {
			background: #389b38;
			border-radius: 3px;
		}

		.weapon-filter {
			padding: 4px;
			height: 48px;
			flex-grow: 0;
		
			img {
				height: $height;
			}
		}
	}
}

.items-container {
	overflow-y: auto;
	border-radius: 3px;
}

