:host {
	position: absolute;
	top: 68px;
}

:host, .container {
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.container {
	position: relative;
	top: 0px;
	overflow-y: auto;
	max-height: 100%;
}

ul {
	margin: 0px;
	padding: 0px;
	background-color: rgb(50,50,50);
}

li {
	cursor: pointer;
	height: 36px;
	line-height: 36px;
	list-style: none;
	padding: 8px;
}

li:hover {
	background-color: gray;
}