<div class="container">
	<ul>
		<li>Attack: {{attack}}</li>
		<li>Weapon Attack Modifier: {{weaponAttackModifier}}</li>
		<li>Affinity: {{affinity}}%</li>
		<li>Defense: {{defense}}</li>

		<div *ngIf="ailment">
			<li>Ailment: {{ailment}}</li>
			<li>Ailment Attack: {{ailmentAttack}}</li>
		</div>
		
		<div *ngIf="element">
			<li>Element: {{element}}</li>
			<li>Elemental Attack: {{elementAttack}}</li>
		</div>

		<li>Fire Resist: {{fireResist}}</li>
		<li>Water Resist: {{waterResist}}</li>
		<li>Thunder Resist: {{thunderResist}}</li>
		<li>Ice Resist: {{iceResist}}</li>
		<li>Dragon Resist: {{dragonResist}}</li>
	</ul>
</div>