<div class="container">
	<ul>
		<li>Attack: {{totalAttack}} ({{attack}} + {{passiveAttack}} * {{weaponAttackModifier}})</li>
		<li *ngIf="maxSharpness">Max Sharpness: {{maxSharpness}}</li>
		<li>Affinity: {{affinity + passiveAffinity}}%</li>
		<li>Defense: {{defense}}</li>

		<div *ngIf="ailment">
			<li>Ailment: {{ailment}}</li>
			<li>Ailment Attack: {{ailmentAttack + effectivePassiveAilmentAttack}}</li>
			<li>Ailment Buildup Rate: {{100 + effectivePassiveAilmentBuildupPercent}}%</li>
		</div>
		
		<div *ngIf="element">
			<li>Element: {{element}}</li>
			<li>Elemental Attack: {{elementAttack + effectivePassiveElementAttack}}</li>
		</div>

		<div *ngIf="elderseal">
			<li>Elderseal: {{elderseal}}</li>
		</div>

		<li>Fire Resist: {{fireResist}}</li>
		<li>Water Resist: {{waterResist}}</li>
		<li>Thunder Resist: {{thunderResist}}</li>
		<li>Ice Resist: {{iceResist}}</li>
		<li>Dragon Resist: {{dragonResist}}</li>
	</ul>
</div>