<div class="container">

	<h4>Attack</h4>
	<hr>
	<ul>
		<li>Attack: {{totalAttack}} ({{attack}} + {{passiveAttack}} * {{weaponAttackModifier}})</li>
		<li>Attack Potential: {{totalAttackPotential}} ({{attack}} + ({{passiveAttack}} + {{activeAttack}}) * {{weaponAttackModifier}})</li>
		<li *ngIf="maxSharpness">Max Sharpness: {{maxSharpness}}</li>
		<li>Affinity: {{affinity + passiveAffinity}}%</li>
		<li>Affinity Potential: {{affinity + passiveAffinity + activeAffinity}}%</li>

		<div *ngIf="ailment && !ailmentHidden">
			<li>Ailment: {{ailment}}</li>
			<li>Ailment Attack: {{ailmentAttack + effectivePassiveAilmentAttack}}</li>
			<li>Ailment Buildup Rate: {{100 + effectivePassiveAilmentBuildupPercent}}%</li>
		</div>

		<div *ngIf="element && !elementHidden">
			<li>Element: {{element}}</li>
			<li>Element Attack: {{elementAttack + effectivePassiveElementAttack}}</li>
		</div>

		<div [style.color]="getHiddenElemColor()">
			<div *ngIf="ailment && ailmentHidden">
				<li>Ailment: {{ailment}}</li>
				<li>Ailment Attack: {{totalAilmentAttack}} ({{ailmentAttack + effectivePassiveAilmentAttack}} * {{elementAttackMultiplier}})</li>
				<li>Ailment Buildup Rate: {{100 + effectivePassiveAilmentBuildupPercent}}%</li>
			</div>
			
			<div *ngIf="element && elementHidden">
				<li>Element: {{element}}</li>
				<li>Element Attack: {{totalElementAttack}} ({{elementAttack + effectivePassiveElementAttack}} * {{elementAttackMultiplier}})</li>
			</div>
		</div>		

		<div *ngIf="elderseal">
			<li>Elderseal: {{elderseal}}</li>
		</div>
	</ul>

	<br />

	<h4>Defense</h4>
	<hr>
	<ul>
		<li>Defense: {{defense + passiveDefense}}</li>
		<li>Fire Resist: {{fireResist + passiveFireResist}}</li>
		<li>Water Resist: {{waterResist + passiveWaterResist}}</li>
		<li>Thunder Resist: {{thunderResist + passiveThunderResist}}</li>
		<li>Ice Resist: {{iceResist + passiveIceResist}}</li>
		<li>Dragon Resist: {{dragonResist + passiveDragonResist}}</li>
	</ul>
</div>